<template>
  <card>
    <h4 slot="header" class="card-title">{{titleForm()}}</h4>
    <form>
      <div class="row">
        <div class="col-md-12">
          <el-alert
            :closable="false"
            v-if="msgErr !== ''"
            :title="msgErr"
            type="error"
            show-icon>
          </el-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <fg-input type="text"
                    label="Mã phiếu"
                    :disabled="true"
                    placeholder="1"
                    v-model="ticketModel.ID">
          </fg-input>
        </div>
        <div class="col-md-3">
          <FormDatePicker type="text"
                    label="Ngày lập phiếu"
                    placeholder="2018/12/12"
                    :disabled="isNotUsabel()"
                    v-model="ngayLapPhieu">
          </FormDatePicker>
        </div>

        <div class="col-md-3" v-if="theLoai == 1">
          <FormDatePicker type="text"
                    label="Ngày trả"
                    :disabled="true"
                    placeholder="2018/12/12"
                    v-model="ngayTraSach">
          </FormDatePicker>
        </div>

        <div class="col-md-4">
          <fg-input type="text"
                    label="Tên độc giả"
                    :disabled="true"
                    placeholder="Tên độc giả"
                    v-model="ticketModel.TenDocGia">
          </fg-input>

        </div>
      </div>

      <div class="row" v-if="theLoai == 1">
        <div class="col-md-6">
          <el-alert
            :closable="false"
            :title="messageWarning()"
            type="warning"
            show-icon>
          </el-alert>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputState">Danh sách sách mượn</label>
            <autocomplete
              :source="book"
              :disabled="isNotUsabel()"
              input-class="form-control"
              placeholder="Tìm kiếm sách"
              results-display="TenSach"
              @selected="onSelectedBook">
            </autocomplete>
          </div>
        </div>
      </div>

      <div class="row">
        <br>
        <div class="col-md-10" style="display:inline-block;" v-for="selectedBook in this.selectedBooks" :value="selectedBook.ID">
          <h5 style="padding-left: 30px; float: left">{{ thongTinSach(selectedBook) }}</h5>
          <button type="button" class="btn btn-danger" style="float: right" @click="deleteBook(selectedBook)">-</button>
          <button type="button" class="btn btn-success" style="float: right; margin-right: 10px" @click="increaseQuantity(selectedBook)">+</button>
        </div>
        <br>
      </div>

      <div class="row">

        <div class="col-md-3">
          <fg-input type="text"
                    label="Tình trạng"
                    :disabled="true"
                    v-model="status">
          </fg-input>
        </div>


        <div class="col-md-3" v-if="theLoai == 1">
          <fg-input type="text"
                    label="Mã độc giả"
                    :disabled="this.ticketModel.MaDocGia != null"
                    placeholder="Mã độc giả" v-if="this.ticketModel.ID != null"
                    :value="idDocGia == null ? this.ticketModel.MaDocGia : idDocGia">
          </fg-input>


          <div class="form-group" v-if="this.ticketModel.ID == null">
            <label for="inputState2">Mã độc giả</label>
            <b-form-select class="mb-3" v-model="selectedUserId" id="inputState2">
              <option :value="null">Mã người dùng</option>
              <option v-for="id in this.normalUserIDs" :value="id">{{ id.ID }}</option>
            </b-form-select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="inputState">Loại phiếu</label>
            <select id="inputState" class="form-control" v-model="theLoai" :disabled="isCreateTicket() || isNotUsabel()">
              <option v-for="type in this.$store.state.types" :value="type.ID">
                {{ type.TenPhieu }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-6" v-show="theLoai == 2">

          <div class="form-group" v-if="this.ticket.ID == null && this.ticketModel.MaDocGia == null">
            <label for="inputState2">Thông tin phiếu mượn</label>
            <b-form-select class="mb-3" v-model="maPhieuDaMuon" id="inputState2">
              <option :value="null">Thông tin phiếu mượn</option>
              <option v-for="p in this.danhSachPhieuMuon" :value="p">{{ `Mã độc giả: ${p.MaDocGia} - ID Phiếu: ${p.ID}` }}</option>
            </b-form-select>
          </div>
        </div>


      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" :disabled="isNotUsabel() || msgErr !== ''" @click.prevent="actionButton">
          {{titleButton()}}
        </button>

        <button type="submit" class="btn btn-danger btn-fill float-right" style="margin-right: 10px" v-if="ticket.ID != null" :disabled="isNotUsabel()" @click.prevent="deleteTicket">
          Xoá phiếu
        </button>

      </div>
      <div class="clearfix"></div>

    </form>

  </card>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import FormDatePicker from 'src/components/UIComponents/Inputs/formDatePicker.vue'
  import moment from 'moment'
  import alertify from 'AlertifyJS'
  import Autocomplete from 'vuejs-auto-complete'

  export default {
    components: {
      FormDatePicker,
      Autocomplete,
      Card
    },
    data () {
      return {
        selectedUserId: null,
        normalUserIDs: [],
        ticketModel: Object.assign({}, this.ticket),
        titleAddTicket: 'Tạo phiếu mượn trả',
        titleUpdateTicket: 'Cập nhật thông tin',
        titleAddTicketButton: 'Thêm mới',
        titleUpdateTicketButton: 'Cập nhật',
        ngayLapPhieu: moment(this.ticket.ngayLapPhieu).toDate(),
        book: [],
        selectedBooks: [],
        deletedBooks: [],
        configs: [],
        theLoai: 1,
        maPhieuDaMuon: 0,
        ngayTraSach: moment().toDate(),
        messageError: '',
        msgErr: "Vui lòng nhập đầy đủ thông tin",
        danhSachPhieuMuon: [],
        isShowUserIDTextbox: false,
        idDocGia: null
      }
    },
    props: ['ticket', 'books', 'borrowBooks'],
    methods: {
      updateProfile () {
        alert('Your data: ' + JSON.stringify(this.user))
      },
      titleForm () {
        if (this.ticket.ID == null) {
          return this.titleAddTicket
        }
        return this.titleUpdateTicket
      },
      titleButton () {
        if (this.ticket.ID == null) {
          return this.titleAddTicketButton
        }
        return this.titleUpdateTicketButton
      },
      actionButton () {
        if (this.ticket.ID == null) {
          return this.createTicket()
        }
        return this.updateTicket()
      },
      createTicket () {
        var self = this
        var isValidated = false
        if (this.idDocGia != null) {
          this.ticketModel.MaDocGia = this.idDocGia
        }
        if (this.selectedUserId != null) {
          this.ticketModel.MaDocGia = this.selectedUserId.ID
        }
        this.ticketModel.ngayLapPhieu = moment(this.ngayLapPhieu).format('YYYY/MM/DD')
        this.ticketModel.bookList = this.selectedBooks
        if (this.theLoai == 2) {
          this.ticketModel.MaPhieuDaMuon = this.maPhieuDaMuon.ID
        }
        console.log(this.ticketModel)
        this.ticketModel.MaTheLoaiPhieu = this.theLoai
        var bodyPayload = this.ticketModel
        this.$store.dispatch('validateTicket', this.ticketModel).then(value => {
          self.dispatchItem('createTicket', bodyPayload, 'Tạo phiếu mượn trả thành công', 'Tạo phiếu mượn trả thất bại')
          self.maPhieuDaMuon = null
          self.theLoai = 1
        }).catch(err => {
          console.log(JSON.parse(err.message))

          alertify.error(`Tạo phiếu thất bại: ${JSON.parse(err.message).error}`)
        })
      },
      updateTicket () {
        this.ticketModel.ngayLapPhieu = moment(this.ngayLapPhieu).format('YYYY/MM/DD')
        this.selectedBooks = this.selectedBooks.concat(this.deletedBooks)
        this.ticketModel.TinhTrang = 1
        if (this.theLoai == 2) {
          this.ticketModel.MaPhieuDaMuon = this.maPhieuDaMuon
        }
        var self = this
        this.ticketModel.MaTheLoaiPhieu = this.theLoai
        this.ticketModel.bookList = this.selectedBooks
        console.log(this.ticketModel)
        var payload = this.ticketModel
        this.$store.dispatch('validateTicket', this.ticketModel).then(value => {

          self.dispatchItem('updateTicket', payload, 'Cập nhật thông tin thành công', 'Cập nhật thông tin thất bại')
        }).catch(err => {
          console.log(JSON.parse(err.message))

          alertify.error(`Cập nhật phiếu thất bại: ${JSON.parse(err.message).error}`)
        })
      },
      deleteTicket () {
        // this.$store.dispatch('deleteMemberCard', this.ticketModel)
        this.ticketModel.TinhTrang = 0
        this.ticketModel.bookList = this.selectedBooks
        this.dispatchItem('deleteTicket', this.ticketModel, 'Xoá phiếu thành công', 'Xoá phiếu thất bại')
      },
      increaseQuantity (book) {
        if (this.isBorrowValid(book)) {
          book.SoLuongMuon++
        } else {
          alertify.error(`Số lượng sách mượn không thể vượt quá số lượng sách có trong thư viện`)
        }
      },
      isCreateTicket () {
        return this.ticket.ID != null
      },
      messageWarning() {
        return `Chỉ có thể mượn tối đa ${this.getMaxBorrowBooks()} cuốn sách trong vòng ${this.getMaxDayBorrow()} ngày`
      },
      isNotUsabel() {
        return this.ticketModel.TinhTrang == 0
      },
      dispatchItem (name, model, messageOk, messageError) {
        this.$store.dispatch(name, model).then(value => {
          alertify.success(messageOk)
          this.book = value
          this.selectedBooks = []
          this.deleteBooks = []
          var emittedTicket = {
            ticket: model
          }
          this.$emit('updatedItem', emittedTicket)
        }).catch(err => {
          console.log(err)
          alertify.error(`${messageError}: ${JSON.parse(err.message).error}`)
        })
      },
      onSelectedBook(group) {
        var id = group.selectedObject.ID
        if (group.selectedObject.TinhTrang == 0) {
          alertify.error(`Sách không sẵn sàng cho mượn. Vui lòng chọn sách khác`)
          return
        }
        if (this.ticketModel.TinhTrang == 0) {
          alertify.error(`Phiếu đã ngưng sử dụng, không thể thêm sách.`)
          return
        }
        var tenSach = group.selectedObject.TenSach
        var soLuong = group.selectedObject.SoLuong
        if (soLuong == 0) {
          alertify.error(`Sách đã được mượn hết. Vui lòng chọn sách khác`)
          return
        }
        var book = { "ID": id, "TenSach": tenSach, "SoLuongMuon": 1, "SoLuong": soLuong, "SoLuongMuonCu" : 1, "isNewAdded": true }
        var selected = this.selectedBooks.find(function(element) {
          return element.ID == id;
        })
        if (selected != null) {
          this.increaseQuantity(selected)
        } else {
          this.selectedBooks.push(book)
        }
      },
      thongTinSach(selectedBook) {
        if (selectedBook.SoLuongMuon != 0) {
          return `${selectedBook.ID} - Tên sách: ${selectedBook.TenSach} - Số lượng mượn: ${selectedBook.SoLuongMuon}`
        }
      },
      deleteBook(book) {
        var pos = this.selectedBooks.indexOf(book)
        if (book.SoLuongMuon > 1) {
          book.SoLuongMuon -= 1
        } else {
          this.selectedBooks.splice(pos, 1)
          book.isDeletedFromTicket = true
          this.deletedBooks.push(book)
        }
      },
      isBorrowValid(borrowBook) {
        var storedBook = this.book.find(function(element) {
          return element.ID == borrowBook.ID;
        })
        if (borrowBook.SoLuongMuon >= storedBook.SoLuong) {
          return false
        }
        return true
      },
      getMaxBorrowBooks() {
        var maxBookConfig = this.findConfig('SoLuongSachMuonToiDa')
        if (maxBookConfig) {
          return maxBookConfig.GiaTri
        }
        return 0
      },
      getMaxDayBorrow() {
        var maxDayBorrow = this.findConfig('SoLuongNgayMuonToiDa')
        if (maxDayBorrow) {
          return maxDayBorrow.GiaTri
        }
        return 0
      },
      findConfig(nameConfig) {
        var configure = {}
        configure = this.configs.find(function(conf) {
          return conf.TenThuocTinh === nameConfig;
        })
        return configure
      },
      fetchAllBorrowTickets() {
        this.$store.dispatch('getBorrowTickets').then(value => {
          this.danhSachPhieuMuon = value
        }).catch(err => {
          self.msgErr = "Không lấy được danh sách phiếu mượn sách"
        })
      }
    },
    mounted() {
      //do something after mounting vue instance
      this.$store.dispatch('getAllConfigs').then(value => {
        this.configs = value
      })
      this.$store.dispatch('getActiveNormalUserIDs').then(value => {
        this.normalUserIDs = value
      }).catch(err => {
        console.log(err)
        alertify.error('Không lấy được danh sách mã độc giả')
      })
    },
    computed: {
      status() {
        return this.ticketModel.TinhTrang == 0 ? 'Không sử dụng' : 'Đang sử dụng'
      },
      isShow() {
        return this.ticketModel.MaDocGia == null
      }
    },
    watch: {
      ticket (newValue, oldValue) {
        this.ticketModel = Object.assign({}, newValue)
        if (this.ticketModel == null || this.ticketModel.NgayLapPhieu == null) {
          return
        }
        this.msgErr = ''
        this.ngayLapPhieu = new Date(this.ticketModel.NgayLapPhieu)
      },
      books (newValue, oldValue) {
        this.book = newValue
      },
      borrowBooks (newValue, oldValue) {
        if (newValue == null) return
        this.selectedBooks = newValue
      },
      ngayLapPhieu (newValue, oldValue) {
        var currentDate = new Date()
        var newCreatedTicketDate = moment(this.ngayLapPhieu, "YYY/MM/DD")
        if (newCreatedTicketDate.isAfter(currentDate)) {
          alertify.error('Ngày lập phiếu không thể lớn hơn ngày hiện tại')
          this.ngayLapPhieu = currentDate
          return
        }
        this.ngayTraSach = moment(this.ngayLapPhieu).add(this.getMaxDayBorrow(), 'days').toDate()
        this.ticketModel.ngayLapPhieu = moment(this.ngayLapPhieu).format('YYYY/MM/DD')
        this.messageError = ''
        console.log(this.ngayTraSach)
      },
      selectedUserId (newValue, oldValue) {
        if (newValue != null) {
          this.ticketModel.MaDocGia = newValue.ID
          this.msgErr = ''
        } else {
          this.ticketModel.MaDocGia = null
          this.msgErr = "Vui lòng nhập mã độc giả"
        }
      },
      maPhieuDaMuon (newValue, oldValue) {
        var self = this
        if (newValue == null) {
          self.msgErr = "Vui lòng chọn phiếu mượn sách"
          return
        }
        var payload = { 'ID': newValue.ID }
        self.isShowUserIDTextbox = true
        self.idDocGia = newValue.MaDocGia
        self.ticketModel.MaDocGia = self.idDocGia
        self.$store.dispatch('getBooksOfTicket', payload).then(value => {
          this.selectedBooks = value
          this.msgErr = ''
        }).catch(err => {
          self.msgErr = "Không lấy được thông tin phiếu mượn sách"
        })
      },
      theLoai(newValue, oldValue) {
        if (newValue == 2) {
          this.fetchAllBorrowTickets()
        }
        this.$emit('updatePage', true)
      }
    }
  }

</script>
<style>
  .el-alert__title {
      font-size: 16px
  }
</style>
