<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-success btn-fill" @click="addNewBook()" style="margin-bottom: 20px">
            Thêm sách
          </button>
        </div>
        <div class="col-5">
          <div class="input-group">
            <input type="text" class="form-control" v-model="term" placeholder="Tìm kiếm sách, thể loại, tác giả">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" @click="fetchSearchData" >
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-9">
          <card>
            <template slot="header">
              <div class="row">
                <div class="col-6">
                    <h4 class="card-title">Danh sách sách trong hệ thống</h4>
                    <p class="card-category">Thông tin chung</p>
                </div>
                <div class="col-6" v-if="isSearch">
                  <h6 class="card-category text-info" style="text-align:right; margin: 10px; cursor: pointer" @click="backToGetAll">Hiển thị tất cả sách</h6>
                </div>
              </div>

            </template>
            <div class="table-responsive">
              <l-table class="table-hover table-striped"
                       :columns="table1.columns"
                       :data="data"
                       :names="table1.names"
                       :type="table1.type">
              </l-table>
            </div>
            <div class="text-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" v-for="(page, index) in totalPages" @click="fetchDataPage(index + 1)"
                    :key="index">
                    <a class="page-link">{{index + 1}}</a></li>
                </ul>
              </nav>
            </div>

          </card>
        </div>
        <div class="col-3">
            <img slot="image" v-if="hasValue()" :src="this.$store.state.bookDetails.HinhAnh" alt="" style="width: 100%;">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <edit-book-form :book="this.dataBookDetail()" @updatedPage="handleUpdate" :ref="this.dataBookDetail()">
          </edit-book-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/UIComponents/Table.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import UserCard from './UserProfile/UserCard.vue'
  import Book from './Books/Book.vue'
  import EditBookForm from './Books/EditBookForm.vue'
  import { mapActions } from 'vuex'
  import alertify from 'AlertifyJS'
  const tableColumns = ['ID', 'TenSach', 'TacGia', 'TenTheLoai', 'NhaXuatBan']
  const tableNames = ['ID', 'Tên sách', 'Tác giả', 'Tên thể loại', 'Nhà xuất bản', 'Chỉnh sửa']

  export default {
    components: {
      LTable,
      UserCard,
      Card,
      EditBookForm,
      Book
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          names: [...tableNames],
          type: 'book'
        },
        term: '',
        isSearch: false
      }
    },
    methods: {
      hasValue: function () {
        return this.$store.state.bookDetails.ID != null
      },
      addNewBook: function () {
        this.$store.state.bookDetails = {}
      },
      fetchDataPage: function (index) {
        var payload = { page: index, perPage: 5 }
        if (!this.isSearch) {
          this.$store.dispatch('getBooks', payload)
        } else {
          this.isSearch = true
          payload.term = this.term
          this.dispatchItem('searchBooks', payload, 'Lỗi tìm kiếm')
        }
      },
      dataBookDetail: function () {
        if (this.hasValue()) {
          return this.$store.state.bookDetails
        }
        return {}
      },
      fetchSearchData: function () {
        var payload = { page: 1, perPage: 5, term: this.term }
        this.isSearch = true
        this.dispatchItem('searchBooks', payload, 'Lỗi tìm kiếm')
      },
      backToGetAll: function () {
        this.isSearch = false
        this.fetchDataPage(1)
      },
      dispatchItem (name, payload, messageError) {
        this.$store.dispatch(name, payload).catch(err => {
          alertify.error(messageError + `: ${err.message}`)
        })
      },
      handleUpdate(args) {
        if (!args) return
        var payload = { page: 1, perPage: 5 }
        this.$store.dispatch('getBooks', payload)
      }
    },
    ...mapActions([
      'getBooks'
    ]),
    mounted: function () {
      var payload = { page: 1, perPage: 5 }
      this.$store.dispatch('getBooks', payload)
      this.$store.dispatch('getTypes')
    },
    computed: {
      data () {
        return this.$store.state.books.results
      },
      totalPages () {
        return this.$store.state.books.totalPages
      }
    }
  }
</script>
<style>
</style>
