<template>
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h4 class="card-title">Danh sách cấu hình trong hệ thống</h4>
              <p class="card-category">Thông tin chung</p>
            </template>
            <div class="table-responsive">
              <l-table class="table-hover table-striped"
                       :columns="table1.columns"
                       :data="table1.data"
                       :names="table1.names"
                       :type="table1.type">
              </l-table>
            </div>

          </card>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <edit-configure-form :config="this.dataMBCardDetail()" @updatedPage="handleUpdate" :ref="this.dataMBCardDetail()">
          </edit-configure-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/UIComponents/Table.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import EditConfigureForm from './Maps/EditConfigureForm.vue'
  const tableColumns = ['ID', 'LoaiThuocTinh', 'TenDayDu', 'GiaTri', 'TinhTrang']
  const tableNames = ['ID', 'Loại thuộc tính', 'Tên thuộc tính', 'Giá trị', 'Tình trạng', 'Chỉnh sửa']

  export default {
    components: {
      LTable,
      Card,
      EditConfigureForm
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          names: [...tableNames],
          type: 'config',
          data: []
        }
      }
    },
    methods: {
      hasValue: function () {
        return this.$store.state.configDetail.ID != null
      },
      dataMBCardDetail: function () {
        if (this.hasValue()) {
          return this.$store.state.configDetail
        }
        return {}
      },
      handleUpdate(args) {
        if (!args) return
        console.log('updated')
        this.$store.dispatch('getAllConfigs').then(value => {
          this.table1.data = value
        })
      }
    },
    mounted: function () {
      this.$store.dispatch('getAllConfigs').then(value => {
        this.table1.data = value
      })
    }
  }
</script>
<style>
</style>
