<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-success btn-fill" @click="addNewBook()" style="margin-bottom: 20px">
            Thêm thủ thư
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h4 class="card-title">Danh sách thủ thư</h4>
              <p class="card-category">Thông tin chung</p>
            </template>
            <div class="table-responsive">
              <l-table class="table-hover table-striped"
                       :columns="table1.columns"
                       :data="data"
                       :names="table1.names"
                       :type="table1.type" >
              </l-table>
            </div>
            <div class="text-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" v-for="(page, index) in totalPages" @click="fetchDataPage(index + 1)"
                    :key="index">
                    <a class="page-link">{{index + 1}}</a></li>
                </ul>
              </nav>
            </div>

          </card>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <edit-librarian-form :normalUser="this.dataUserDetail()" @updatedPage="handleUpdate" :ref="this.dataUserDetail()">
          </edit-librarian-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/UIComponents/Table.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import UserCard from './UserProfile/UserCard.vue'
  import EditLibrarianForm from './Librarians/EditLibrarianForm.vue'
  const tableColumns = ['ID', 'HoTen', 'NgaySinh', 'Email', 'TenTaiKhoan', 'CapBac']
  const tableNames = ['ID', 'Họ Tên', 'Ngày sinh', 'Email', 'Tên tài khoản', 'Cấp Bậc', 'Chỉnh sửa']

  export default {
    components: {
      LTable,
      UserCard,
      Card,
      EditLibrarianForm
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          names: [...tableNames],
          type: 'admin'
        }
      }
    },
    methods: {
      hasValue: function () {
        return this.$store.state.adminDetails.ID != null
      },
      addNewBook: function () {
        this.$store.state.adminDetails = {}
      },
      fetchDataPage: function (index) {
        var payload = { page: index, perPage: 5 }
        this.$store.dispatch('getAdmins', payload)
      },
      dataUserDetail: function () {
        if (this.hasValue()) {
          return this.$store.state.adminDetails
        }
        return {}
      },
      handleUpdate(args) {
        if (!args) return
        var payload = { page: 1, perPage: 5 }
        this.$store.dispatch('getAdmins', payload)
      }
    },
    mounted: function () {
      var payload = { page: 1, perPage: 5 }
      this.$store.dispatch('getAdmins', payload)
    },
    computed: {
      data () {
        return this.$store.state.admins.results
      },
      totalPages () {
        return this.$store.state.admins.totalPages
      }
    }
  }
</script>
<style>
</style>
