<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-success btn-fill" @click="addNewBook()" style="margin-bottom: 20px">
            Tạo thẻ độc giả
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h4 class="card-title">Danh sách thẻ độc giả trong hệ thống</h4>
              <p class="card-category">Thông tin chung</p>
            </template>
            <div class="table-responsive">
              <l-table class="table-hover table-striped"
                       :columns="table1.columns"
                       :data="data"
                       :names="table1.names"
                       :type="table1.type">
              </l-table>
            </div>
            <div class="text-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" v-for="(page, index) in totalPages" @click="fetchDataPage(index + 1)"
                    :key="index">
                    <a class="page-link">{{index + 1}}</a></li>
                </ul>
              </nav>
            </div>

          </card>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <edit-member-card-form :memberCard="this.dataMBCardDetail()" @updatePage="handlerUpdatePage" :ref="this.dataMBCardDetail()">
          </edit-member-card-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/UIComponents/Table.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import UserCard from './UserProfile/UserCard.vue'
  import EditMemberCardForm from './MemberCards/EditMemberCardForm.vue'
  const tableColumns = ['ID', 'NgayLapThe', 'ThoiHanSuDung', 'DiemTichLuy', 'TenDocGia', 'LoaiThe']
  const tableNames = ['ID', 'Ngày lập thẻ', 'Thời hạn sử dụng', 'Điểm tích luỹ', 'Tên độc giả', 'Loại thẻ', 'Chỉnh sửa']

  export default {
    components: {
      LTable,
      UserCard,
      Card,
      EditMemberCardForm
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          names: [...tableNames],
          type: 'memberCard'
        }
      }
    },
    methods: {
      hasValue: function () {
        return this.$store.state.memberCardDetails.ID != null
      },
      addNewBook: function () {
        this.$store.state.memberCardDetails = {}
      },
      fetchDataPage: function (index) {
        var payload = { page: index, perPage: 5 }
        this.$store.dispatch('getMemberCards', payload)
      },
      dataMBCardDetail: function () {
        if (this.hasValue()) {
          return this.$store.state.memberCardDetails
        }
        return {}
      },
      handlerUpdatePage() {
        var payload = { page: 1, perPage: 5 }
        this.$store.dispatch('getMemberCards', payload)
        this.$store.dispatch('getMemberCardTypes')
      }
    },
    mounted: function () {
      var payload = { page: 1, perPage: 5 }
      this.$store.dispatch('getMemberCards', payload)
      this.$store.dispatch('getMemberCardTypes')
    },
    computed: {
      data () {
        return this.$store.state.memberCards.results
      },
      totalPages () {
        return this.$store.state.memberCards.totalPages
      }
    }
  }
</script>
<style>
</style>
