<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-warning">
              <i class="nc-icon nc-layers-3 text-warning"></i>
            </div>
            <div slot="content">
              <p class="card-category">Số lượng sách</p>
              <h4 class="card-title">{{info.numberOfBooks}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-refresh"></i> Vừa cập nhật
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <i class="nc-icon nc-circle-09 text-success"></i>
            </div>
            <div slot="content">
              <p class="card-category">Lượng người dùng</p>
              <h4 class="card-title">{{info.numberOfUsers}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-calendar-o"></i> Tính đến thời điểm hiện tại
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-paper-2 text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Số phiếu mượn</p>
              <h4 class="card-title">{{info.numberOfTickets}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-clock-o"></i> Tính đến thời điểm hiện tại
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-info">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
            <div slot="content">
              <p class="card-category">Số thành viên</p>
              <h4 class="card-title">{{info.numberOfTickets}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-refresh"></i> Vừa cập nhật
            </div>
          </stats-card>
        </div>

      </div>
      <div class="row">
        <div class="col-md-8">
          <chart-card :chart-data="getLineChartData()"
                      :chart-options="lineChart.options"
                      :responsive-options="lineChart.responsiveOptions">
            <template slot="header">
              <h4 class="card-title">Thống kê phiếu mượn trả</h4>
              <p class="card-category">Thống kê số lượng phiếu trong 7 ngày</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Số lượng phiếu mượn
                <i class="fa fa-circle text-danger"></i> Số lượng phiếu trả
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Vừa cập nhật
              </div>
            </template>
          </chart-card>
        </div>

        <div class="col-md-4">
          <chart-card :chart-data="getPieChartData()" chart-type="Pie">
            <template slot="header">
              <h4 class="card-title">Thống kê thể loại sách</h4>
              <p class="card-category">Biểu đồ thể hiện số lượng sách đối với từng thể loại</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Văn học
                <i class="fa fa-circle text-danger"></i> Khoa học viễn tưởng
                <i class="fa fa-circle text-warning"></i> Giáo dục
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i> Vừa cập nhật
              </div>
            </template>
          </chart-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-tool btn-info btn-fill float-left" @click.prevent="exportDataBorrowTickets()" >
            Xuất báo cáo tình trạng mượn sách
          </button>

          <button type="submit" class="btn btn-danger btn-tool btn-fill float-left" style="margin-right: 10px" @click.prevent="exportDataBorrowBooks()">
            Xuất báo cáo tình trạng các sách đang mượn
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import ChartCard from 'src/components/UIComponents/Cards/ChartCard.vue'
  import StatsCard from 'src/components/UIComponents/Cards/StatsCard.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import LTable from 'src/components/UIComponents/Table.vue'
  import Checkbox from 'src/components/UIComponents/Inputs/Checkbox.vue'
  import alertify from 'AlertifyJS'
  import moment from 'moment'
  import Papa from 'papaparse'

  export default {
    components: {
      Checkbox,
      Card,
      LTable,
      ChartCard,
      StatsCard
    },
    data () {
      return {
        editTooltip: 'Edit Task',
        deleteTooltip: 'Remove',
        pieChart: {
          data: {
            labels: ['40%', '20%', '40%'],
            series: [40, 20, 40]
          }
        },
        lineChart: {
          data: {
            labels: [],
            series: []
          },
          options: {
            low: 0,
            high: 50,
            showArea: false,
            height: '245px',
            axisX: {
              showGrid: false
            },
            lineSmooth: true,
            showLine: true,
            showPoint: true,
            fullWidth: true,
            chartPadding: {
              right: 50
            }
          },
          responsiveOptions: [
            ['screen and (max-width: 640px)', {
              axisX: {
                labelInterpolationFnc (value) {
                  return value[0]
                }
              }
            }]
          ]
        },
        barChart: {
          data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            series: [
              [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
              [412, 243, 280, 580, 453, 353, 300, 364, 368, 410, 636, 695]
            ]
          },
          options: {
            seriesBarDistance: 10,
            axisX: {
              showGrid: false
            },
            height: '245px'
          },
          responsiveOptions: [
            ['screen and (max-width: 640px)', {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc (value) {
                  return value[0]
                }
              }
            }]
          ]
        },
        tableData: {
          data: [
            {title: 'Sign contract for "What are conference organizers afraid of?"', checked: false},
            {title: 'Lines From Great Russian Literature? Or E-mails From My Boss?', checked: true},
            {
              title: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
              checked: true
            },
            {title: 'Create 4 Invisible User Experiences you Never Knew About', checked: false},
            {title: 'Read "Following makes Medium better"', checked: false},
            {title: 'Unfollow 5 enemies from twitter', checked: false}
          ]
        },
        info: {
          numberOfUsers: 0,
          numberOfBooks: 0,
          numberOfMembers: 0,
          numberOfTickets: 0
        },
        reportInfo: {
          ticket: null,
          book: null,
          exportBorrowTickets: null
        }
      }
    },
    methods: {
      getTotalUser() {
        this.$store.dispatch('getTotalUser').then(value => {
          this.info.numberOfUsers = value
        }).catch(err => {
          this.actionTokenExpired(err)
          console.log(err)
        })
      },
      getTotalBooks() {
        this.$store.dispatch('getTotalBooks').then(value => {
          this.info.numberOfBooks = value
        }).catch(err => {
          alertify.error('Có lỗi xảy ra' + `: ${err.message}`)
        })

      },
      getTotalMemberCards() {
        this.$store.dispatch('getTotalMemberCards').then(value => {
          this.info.numberOfMembers = value
        }).catch(err => {
          this.actionTokenExpired(err)
          console.log(err)
        })
      },
      getTotalTickets() {
        this.$store.dispatch('getTotalTickets').then(value => {
          this.info.numberOfTickets = value
        }).catch(err => {
          this.actionTokenExpired(err)
          alertify.error('Có lỗi xảy ra' + `: ${err.message}`)
        })
      },
      getReportOfTickets() {
        this.$store.dispatch('getReportOfTickets').then(value => {
          this.reportInfo.ticket = value
        }).catch(err => {
          this.actionTokenExpired(err)
          console.log(err)
        })
      },
      getLineChartValue() {
        if (this.reportInfo.ticket == null) return []
        this.lineChart.data.series = []
        var quantityBorrow = []
        var quantityReturn = []
        for (var item of this.reportInfo.ticket.report) {
          if (item.MaTheLoaiPhieu == 1) {
            quantityBorrow.push(item.total)
          } else {
            quantityReturn.push(item.total)
          }
        }
        return [quantityBorrow, quantityReturn]
      },
      getLineChartLabels() {
        if (this.reportInfo.ticket == null) return []
        this.lineChart.data.labels = []
        var labels = []
        for (var item of this.reportInfo.ticket.allDates) {
          var date = moment(item.NgayLapPhieu).format('DD/MM/YYYY')
          labels.push(date)
        }
        return labels
      },
      getLineChartData() {
        var data = {
          labels: [],
          series: []
        }

        data.labels = this.getLineChartLabels()
        data.series = this.getLineChartValue()
        return data
      },
      getReportOfBooks() {
        this.$store.dispatch('getReportOfBooks').then(value => {
          this.reportInfo.book = value
        }).catch(err => {
          this.actionTokenExpired(err)
          alertify.error('Có lỗi xảy ra' + `: ${err.message}`)
        })
      },
      getPieChartLabels() {
        if (this.reportInfo.book == null) return []
        var labels = []
        for (var item of this.reportInfo.book.report) {
          var value = Math.ceil((item.total / this.reportInfo.book.totalBooks) * 100)
          labels.push(value + '%')
        }
        return labels
      },
      getPieChartValues() {
        if (this.reportInfo.book == null) return []
        var type = []
        for (var item of this.reportInfo.book.report) {
          var value = Math.ceil((item.total / this.reportInfo.book.totalBooks) * 100)
          type.push(value)
        }
        return type
      },
      getPieChartData() {
        var data = {
          labels: [],
          series: []
        }
        data.labels = this.getPieChartLabels()
        data.series = this.getPieChartValues()
        return data
      },
      exportDataBorrowTickets() {
        this.$store.dispatch('getBorrowTicketsReport').then(value => {
          // this.reportInfo.exportBorrowTickets = value
          for (var row of value) {
            row.NgayLapPhieu = moment(row.NgayLapPhieu).format('DD/MM/YYYY')
            row.LoaiPhieu = 'Phieu muon sach'
            row.TinhTrang = 'Chua tra sach'
          }
          var csv = Papa.unparse(value, { encoding: "utf-8" })
          var filename = "report_borrow_tickets_" + moment().toDate().getTime() + ".csv"
          this.downloadCSVFile(csv, filename)
        }).catch(err => {
          this.actionTokenExpired(err)
          console.log(err)
        })
      },
      exportDataBorrowBooks() {
        this.$store.dispatch('getBorrowBooksReport').then(value => {
          for (var row of value) {
            row.NgayNhap = moment(row.NgayNhap).format('DD/MM/YYYY')
            if (row.TinhTrang == 1) {
              row.TinhTrang = 'Dang su dung'
            } else {
              row.TinhTrang = 'Khong su dung'
            }
          }

          var csv = Papa.unparse(value, { encoding: "utf-8" })
          var filename = "report_borrow_books_" + moment().toDate().getTime() + ".csv"
          this.downloadCSVFile(csv, filename)
        }).catch(err => {
          this.actionTokenExpired(err)
          alertify.error('Xuất file bị lỗi' + `: ${err.message}`)
        })
      },
      downloadCSVFile(csvString, filename) {
        var blob = new Blob([csvString]);
        if (window.navigator.msSaveOrOpenBlob)  // IE hack; see http://msdn.microsoft.com/en-us/library/ie/hh779016.aspx
            window.navigator.msSaveBlob(blob, filename);
        else
        {
            var a = window.document.createElement("a");
            a.href = window.URL.createObjectURL(blob, {type: "text/plain", charset: "utf-8"});
            a.download = filename;
            document.body.appendChild(a);
            a.click();  // IE: "Access is denied"; see: https://connect.microsoft.com/IE/feedback/details/797361/ie-10-treats-blob-url-as-cross-origin-and-denies-access
            document.body.removeChild(a);
        }
      },
      actionTokenExpired(err) {
        if (err.status === 403) {
          this.$message({ type: 'error', message: "Đã hết phiên sử dụng. Vui lòng đăng nhập lại"})
          localStorage.removeItem('user')
          this.$router.push('/')
        }
      }
    },
    mounted() {
      //do something after mounting vue instance
      this.getTotalUser()
      this.getTotalBooks()
      this.getTotalMemberCards()
      this.getTotalTickets()
      this.getReportOfTickets()
      this.getReportOfBooks()
    }
  }
</script>
<style>
  .btn-tool {
    margin: 10px;
  }
</style>
