<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-success btn-fill" @click="addNewBook()" style="margin-bottom: 20px">
            Tạo phiếu mượn trả
          </button>
        </div>
        <div class="col-5">
          <div class="input-group">
            <input type="text" class="form-control" v-model="term" placeholder="Tìm kiếm tên người dùng của phiếu mượn">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" @click="fetchSearchData" >
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <div class="row">
                <div class="col-6">
                  <h4 class="card-title">Danh sách phiếu mượn sách</h4>
                  <p class="card-category">Thông tin chung</p>
                </div>
                <div class="col-6" v-if="isSearch">
                  <h6 class="card-category text-info" style="text-align:right; margin: 10px; cursor: pointer" @click="backToGetAll">Hiển thị tất cả các phiếu</h6>
                </div>
              </div>

            </template>
            <div class="table-responsive">
              <l-table class="table-hover table-striped"
                       :columns="table1.columns"
                       :data="data"
                       :names="table1.names"
                       :type="table1.type">
              </l-table>
            </div>
            <div class="text-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" v-for="(page, index) in totalPages" @click="fetchDataPage(index + 1)"
                    :key="index">
                    <a class="page-link">{{index + 1}}</a></li>
                </ul>
              </nav>
            </div>

          </card>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <edit-ticket-form :books="this.listBooks()" :borrowBooks="this.listBorrowBooks()" :ticket="this.dataTicketDetail()"
                :ref="this.dataTicketDetail()" @updatedItem="itemHandler" @updatePage="updateFormHandler">
          </edit-ticket-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/UIComponents/Table.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import UserCard from './UserProfile/UserCard.vue'
  import EditTicketForm from './Tickets/EditTicketForm.vue'
  const tableColumns = ['ID', 'TheLoaiPhieu', 'TenDocGia', 'NgayLapPhieu', 'TinhTrang']
  const tableNames = ['ID', 'Thể loại phiếu', 'Tên độc giả', 'Ngày lập phiếu', 'Tình trạng', 'Tùy chọn']

  export default {
    components: {
      LTable,
      UserCard,
      Card,
      EditTicketForm
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          names: [...tableNames],
          type: 'ticket'
        },
        tickets: [],
        isSearch: false,
        currentPage: 1,
        term: ''
      }
    },
    methods: {
      hasValue: function () {
        return this.$store.state.ticketDetails.ID != null
      },
      addNewBook: function () {
        this.$store.state.ticketDetails = {}
        this.$store.state.booksOfTicket = []
      },
      fetchDataPage: function (index) {
        this.currentPage = index
        var payload = { page: index, perPage: 10 }
        if (!this.isSearch) {
          this.$store.dispatch('getTickets', payload)
        } else {
          this.isSearch = true
          payload.term = this.term
          this.dispatchItem('searchTickets', payload, 'Lỗi tìm kiếm')
        }
      },
      dataTicketDetail: function () {
        if (this.hasValue()) {
          return this.$store.state.ticketDetails
        }
        return {}
      },
      listBooks: function () {
        return this.$store.state.books
      },
      listBorrowBooks: function () {
        return this.$store.state.booksOfTicket
      },
      itemHandler: function(args) {
        var type = args.type
        var ticket = args.ticket
        var payload = { page: this.currentPage, perPage: 10 }
        this.tickets = []
        this.$store.dispatch('getTickets', payload).then(value => {
          this.tickets = value.results
        })
      },
      fetchSearchData: function() {
        var payload = { page: 1, perPage: 10, term: this.term }
        this.isSearch = true
        this.dispatchItem('searchTickets', payload, 'Lỗi tìm kiếm')
      },
      dispatchItem (name, payload, messageError) {
        this.$store.dispatch(name, payload).catch(err => {
          console.log(err)
          alertify.error(messageError)
        })
      },
      backToGetAll: function () {
        this.isSearch = false
        this.fetchDataPage(1)
      },
      updateFormHandler() {
        this.addNewBook()
      }
    },
    mounted: function () {
      var payload = { page: 1, perPage: 10 }
      this.$store.dispatch('getTickets', payload).then(value => {
        this.tickets = value.results
      })
      this.$store.dispatch('getAllBooks')
      this.$store.dispatch('getTicketTypes')
    },
    computed: {
      data () {
        this.tickets = this.$store.state.tickets.results
        return this.tickets
      },
      totalPages () {
        return this.$store.state.tickets.totalPages
      }
    }
  }
</script>
<style>
</style>
