<template>
  <card>
    <h4 slot="header" class="card-title">{{titleForm()}}</h4>
    <form>
      <div class="row">
        <div class="col-md-12">
          <el-alert
            :closable="false"
            v-if="msgErr !== ''"
            :title="msgErr"
            type="error"
            show-icon>
          </el-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <fg-input type="text"
                    label="Mã độc giả"
                    :disabled="true"
                    placeholder="1"
                    v-model="normalUserModel.ID">
          </fg-input>
        </div>
        <div class="col-md-6">
          <fg-input type="text"
                    label="Tên độc giả"
                    placeholder="Tên độc giả"
                    v-model="normalUserModel.HoTen">
          </fg-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <FormDatePicker type="text"
                    label="Ngày sinh"
                    placeholder="2018/12/12"
                    v-model="ngaySinh">
          </FormDatePicker>

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="inputState">Tình trạng</label>
            <select id="inputState" class="form-control" v-model="normalUserModel.TinhTrang">
              <option>Chọn tình trạng</option>
              <option value="1">Hoạt động</option>
              <option value="0">Không hoạt động</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <fg-input type="email"
                    label="Địa chỉ Email"
                    placeholder="example@gmail.com"
                    v-model="normalUserModel.Email">
          </fg-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Địa chỉ</label>
            <textarea rows="5" class="form-control border-input"
                      placeholder="Địa chỉ"
                      v-model="normalUserModel.DiaChi">
              </textarea>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" :disabled="msgErr !== ''" @click.prevent="actionButton">
          {{titleButton()}}
        </button>

        <button type="submit" class="btn btn-danger btn-fill float-right" style="margin-right: 10px" v-if="normalUser.ID != null" @click.prevent="deleteUser">
          Xoá độc giả
        </button>


      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import FormDatePicker from 'src/components/UIComponents/Inputs/formDatePicker.vue'
  import moment from 'moment'
  import alertify from 'AlertifyJS'

  export default {
    components: {
      FormDatePicker,
      Card
    },
    data () {
      return {
        normalUserModel: Object.assign({}, this.normalUser),
        titleAddUser: 'Thêm độc giả mới',
        titleUpdateUser: 'Chỉnh sửa thông tin độc giả',
        titleAddUserButton: 'Thêm mới',
        titleUpdateUserButton: 'Cập nhật',
        ngaySinh: new Date(2018, 1, 12),
        configs: [],
        msgErr: 'Vui lòng nhập đầy đủ thông tin'
      }
    },
    props: ['normalUser'],
    methods: {
      updateProfile () {
        alert('Your data: ' + JSON.stringify(this.user))
      },
      titleForm () {
        if (this.normalUser.ID == null) {
          return this.titleAddUser
        }
        return this.titleUpdateUser
      },
      titleButton () {
        if (this.normalUser.ID == null) {
          return this.titleAddUserButton
        }
        return this.titleUpdateUserButton
      },
      actionButton () {
        if (!this.isValidAge()) {
          alertify.error(`Tuổi của thành viên chỉ từ 18 đến 35`)
          return
        }
        if (this.normalUser.ID == null) {
          return this.createUser()
        }
        return this.updateUser()
      },
      createUser () {
        this.normalUserModel.NgaySinh = moment(this.ngaySinh).format('YYYY/MM/DD')
        console.log('Tinh trang', this.normalUserModel.TinhTrang)
        this.$store.dispatch('createNormalUser', this.normalUserModel).then(value => {
          alertify.success('Thêm người dùng thành công')
          this.$emit('updatedPage', value)
        }).catch(err => {
          console.log(err)
          alertify.error(`Thêm người dùng thất bại`)
        })
      },
      updateUser () {
        this.normalUserModel.NgaySinh = moment(this.ngaySinh).format('YYYY/MM/DD')
        this.$store.dispatch('updateNormalUser', this.normalUserModel).then(value => {
          alertify.success('Cập nhật người dùng thành công')
        }).catch(err => {
          console.log(err)
          alertify.error(`Cập nhật người dùng thất bại`)
        })
      },
      deleteUser () {
        this.$store.dispatch('deleteUser', this.normalUserModel).then(value => {
          alertify.success('Xóa người dùng thành công')
        }).catch(err => {
          console.log(err)
          alertify.error(`Xóa người dùng thất bại`)
        })
      },
      isValidAge () {
        var ageYear = moment(this.ngaySinh, 'YYYY/MM/DD').year()
        var currentYear = moment().year()
        var substractYear = currentYear - ageYear
        if (substractYear < this.minAgeConfig() || substractYear > this.maxAgeConfig()) {
          return false
        }
        return true
      },
      maxAgeConfig () {
        var maxAge = 0
        maxAge = this.configs.find(function(conf) {
          return conf.TenThuocTinh === 'SoTuoiToiDa';
        })
        if (maxAge != null) {
          maxAge = maxAge.GiaTri
        }

        return maxAge
      },
      minAgeConfig () {
        var minAge = 0
        minAge = this.configs.find(function(conf) {
          return conf.TenThuocTinh === 'SoTuoiToiThieu';
        })
        if (minAge != null) {
          minAge = minAge.GiaTri
        }
        return minAge
      },
      validateEmailFormat() {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return re.test(String(this.normalUserModel.Email).toLowerCase())
      }
    },
    mounted() {
      //do something after mounting vue instance
      this.$store.dispatch('getAllConfigs').then(value => {
        this.configs = value
      })
    },
    watch: {
      normalUser (newValue, oldValue) {
        this.normalUserModel = Object.assign({}, newValue)
        if (this.normalUserModel == null || this.normalUserModel.NgaySinh == null) {
          return
        }
        this.ngaySinh = new Date(this.normalUserModel.NgaySinh)
      },
      ngaySinh (newValue, oldValue) {
        if (!this.isValidAge()) {
          alertify.error(`Tuổi của thành viên chỉ từ ${this.minAgeConfig()} đến ${this.maxAgeConfig()}`)
        }
      },
      normalUserModel: {
        handler: function(value) {
          if (!value.HoTen) {
            this.msgErr = "Vui lòng nhập đầy đủ họ tên"
          } else if (!value.Email) {
            this.msgErr = "Vui lòng nhập thông tin Email"
          } else if (!value.DiaChi) {
            this.msgErr = "Vui lòng nhập địa chỉ"
          } else {
            this.msgErr = ''
          }
          if (value.Email && !this.validateEmailFormat()) {
            this.msgErr = 'Định dạng email không chính xác'
          }
        },
        deep: true
      }
    }
  }

</script>
<style>

</style>
