<template>
  <card>
    <h4 slot="header" class="card-title">Cập nhật thông tin cấu hình</h4>
    <form>
      <div class="row">
        <div class="col-md-12">
          <el-alert
            :closable="false"
            v-if="msgErr !== ''"
            :title="msgErr"
            type="error"
            show-icon>
          </el-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <fg-input type="text"
                    label="Mã cấu hình"
                    :disabled="true"
                    placeholder="1"
                    v-model="configureModel.ID">
          </fg-input>
        </div>
        <div class="col-md-6">
          <fg-input type="text"
                    label="Tên đầy đủ thuộc tính (tiếng việt)"
                    placeholder="Tên thuộc tính"
                    v-model="configureModel.TenDayDu">
          </fg-input>

        </div>
        <div class="col-md-3">

          <fg-input type="text"
                    :disabled="true"
                    label="Tình trạng"
                    placeholder="Hoạt động"
                    value="Đang sử dụng">
          </fg-input>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <fg-input type="text"
                    :disabled="true"
                    label="Tên giá trị thuộc tính"
                    placeholder="Tên giá trị thuộc tính"
                    v-model="configureModel.TenThuocTinh">
          </fg-input>
        </div>
        <div class="col-md-3">
          <fg-input type="text"
                    label="Loại thuộc tính"
                    :disabled="true"
                    placeholder="Loại thuộc tính"
                    v-model="configureModel.LoaiThuocTinh">
          </fg-input>

        </div>
        <div class="col-md-3">
          <fg-input type="number"
                    label="Giá trị"
                    placeholder="Giá trị"
                    min="0"
                    v-model="configureModel.GiaTri">
          </fg-input>

        </div>

      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" :disabled="msgErr !== ''" @click.prevent="actionButton">
          Cập nhật
        </button>
      </div>


      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import FormDatePicker from 'src/components/UIComponents/Inputs/formDatePicker.vue'
  import moment from 'moment'
  import alertify from 'AlertifyJS'

  export default {
    components: {
      FormDatePicker,
      Card
    },
    data () {
      return {
        configureModel: Object.assign({}, this.config),
        msgErr: "Vui lòng nhập đầy đủ thông tin"
      }
    },
    props: ['config'],
    methods: {
      actionButton () {
        return this.updateMBCard()
      },
      updateMBCard () {
        this.configureModel.DiemTichLuy = this.configureModel.GiaTri || 0
        this.dispatchItem('updateConfig', this.configureModel, 'Cập nhật cấu hình thành công', 'Cập nhật cấu hình thất bại')
      },
      deleteMBCard () {
        this.dispatchItem('deleteConfig', this.configureModel, 'Xoá cấu hình thành công', 'Xoá thẻ cấu hình thất bại')
      },
      isCreateMemberCard () {
        return this.config.ID != null
      },
      dispatchItem (name, model, messageOk, messageError) {
        var self = this
        this.$store.dispatch(name, model).then(value => {
          alertify.success(messageOk)
          self.updatePages(true)
        }).catch(err => {
          console.log(err)
          alertify.error(messageError)
        })
      },
      updatePages(value) {
        this.$emit('updatedPage', value)
      }
    },
    watch: {
      config (newValue, oldValue) {
        this.configureModel = Object.assign({}, newValue)
      },
      configureModel: {
        handler: function(value) {
          console.log(value)
          if (!value.TenDayDu) {
            this.msgErr = "Vui lòng nhập tên đầy đủ thuộc tính"
          } else if (!value.TenThuocTinh) {
            this.msgErr = "Vui lòng nhập tên giá trị thuộc tính"
          } else if (!value.LoaiThuocTinh) {
            this.msgErr = "Vui lòng nhập loại thuộc tính"
          } else if (!value.GiaTri) {
            this.msgErr = "Vui lòng nhập giá trị thuộc tính"
          } else {
            this.msgErr = ''
          }
        },
        deep: true
      }
    }
  }

</script>
<style>

</style>
