<template>
  <card>
    <h4 slot="header" class="card-title">{{titleForm()}}</h4>
    <form>
      <div class="row">
        <div class="col-md-12">
          <el-alert
            :closable="false"
            v-if="msgErr !== ''"
            :title="msgErr"
            type="error"
            show-icon>
          </el-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <fg-input type="text"
                    label="Mã thủ thư"
                    :disabled="true"
                    placeholder="1"
                    v-model="normalUserModel.ID">
          </fg-input>
        </div>
        <div class="col-md-6">
          <fg-input type="text"
                    label="Tên thủ thư"
                    placeholder="Tên thủ thư"
                    v-model="normalUserModel.HoTen">
          </fg-input>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="inputRole">Cấp bậc</label>
            <select id="inputRole" class="form-control" v-model="normalUserModel.CapBac">
              <option>Chọn cấp bậc</option>
              <option value="1" selected>Quản lý</option>
              <option value="0">Thủ thư</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <FormDatePicker type="text"
                    label="Ngày sinh"
                    placeholder="2018/12/12"
                    v-model="ngaySinh">
          </FormDatePicker>

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="inputState">Tình trạng</label>
            <select id="inputState" class="form-control" v-model="normalUserModel.TinhTrang">
              <option>Chọn tình trạng</option>
              <option value="1" selected>Hoạt động</option>
              <option value="0">Không hoạt động</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <fg-input type="email"
                    label="Địa chỉ Email"
                    placeholder="example@gmail.com"
                    v-model="normalUserModel.Email">
          </fg-input>
        </div>

        <div class="col-md-4">
          <fg-input type="text"
                    :disabled="normalUser.ID != null"
                    label="Tên tài khoản"
                    placeholder="Tên tài khoản"
                    v-model="normalUserModel.TenTaiKhoan">
          </fg-input>
        </div>

        <div class="col-md-4">
          <fg-input type="password"
                    :label="normalUser.ID == null ? 'Mật khẩu' : 'Mật khẩu (Tùy chọn)'"
                    placeholder="Mật khẩu"
                    v-model="matKhau">
          </fg-input>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" :disabled="msgErr !== ''" @click.prevent="actionButton">
          {{titleButton()}}
        </button>

        <button type="submit" class="btn btn-danger btn-fill float-right" style="margin-right: 10px" v-if="normalUser.ID != null" @click.prevent="deleteUser">
          Xoá người dùng
        </button>


      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import FormDatePicker from 'src/components/UIComponents/Inputs/formDatePicker.vue'
  import moment from 'moment'
  import alertify from 'AlertifyJS'

  export default {
    components: {
      FormDatePicker,
      Card
    },
    data () {
      return {
        normalUserModel: Object.assign({}, this.normalUser),
        titleAddUser: 'Thêm thủ thư',
        titleUpdateUser: 'Chỉnh sửa thông tin thủ thư',
        titleAddUserButton: 'Thêm mới',
        titleUpdateUserButton: 'Cập nhật',
        ngaySinh: moment(this.normalUser.NgaySinh).toDate(),
        configs: [],
        msgErr: 'Vui lòng nhập đầy đủ thông tin',
        matKhau: ''
      }
    },
    props: ['normalUser'],
    methods: {
      updateProfile () {
        alert('Your data: ' + JSON.stringify(this.user))
      },
      titleForm () {
        if (this.normalUser.ID == null) {
          return this.titleAddUser
        }
        return this.titleUpdateUser
      },
      titleButton () {
        if (this.normalUser.ID == null) {
          return this.titleAddUserButton
        }
        return this.titleUpdateUserButton
      },
      actionButton () {
        if (this.normalUser.ID == null) {
          this.matKhau = ''
          return this.createUser()
        }
        return this.updateUser()
      },
      createUser () {
        var self = this
        this.normalUserModel.NgaySinh = moment(this.ngaySinh).format('YYYY/MM/DD')
        this.normalUserModel.TinhTrang = 1
        this.normalUserModel.username = this.normalUserModel.TenTaiKhoan
        this.normalUserModel.password = this.matKhau
        this.normalUserModel.isQuanLy = this.normalUserModel.CapBac
        this.normalUserModel.id = this.normalUserModel.ID
        this.$store.dispatch('createNormalUser', this.normalUserModel).then(value => {
          alertify.success('Thêm người dùng thành công')
          self.updatePages(true)
        }).catch(err => {
          console.log(JSON.parse(err.message))
          var errorMessage = JSON.parse(err.message)
          alertify.error(`Tạo thủ thư thất bại: ${errorMessage.error}`)
        })
      },
      updateUser () {
        var self = this
        this.normalUserModel.NgaySinh = moment(this.ngaySinh).format('YYYY/MM/DD')
        this.normalUserModel.password = this.matKhau
        this.normalUserModel.isQuanLy = this.normalUserModel.CapBac
        this.normalUserModel.id = this.normalUserModel.ID
        this.$store.dispatch('updateNormalUser', this.normalUserModel).then(value => {
          alertify.success('Cập nhật thành công')
          self.updatePages(true)
        }).catch(err => {
          console.log(err)
          alertify.error(`Cập nhật thất bại`)
        })
      },
      deleteUser () {
        var self = this
        this.$store.dispatch('deleteUser', this.normalUserModel).then(value => {
          alertify.success('Xóa người dùng thành công')
          self.updatePages(true)
        }).catch(err => {
          console.log(err)
          alertify.error(`Xóa thất bại`)
        })
      },
      updatePages(value) {
        this.$emit('updatedPage', value)
      },
      isValidAge () {
        var ageYear = moment(this.ngaySinh, 'YYYY/MM/DD').year()
        var currentYear = moment().year()
        var substractYear = currentYear - ageYear
        if (substractYear < this.minAgeConfig() || substractYear > this.maxAgeConfig()) {
          return false
        }
        return true
      },
      validateEmailFormat() {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return re.test(String(this.normalUserModel.Email).toLowerCase())
      }
    },
    mounted() {
      //do something after mounting vue instance
      this.$store.dispatch('getAllConfigs').then(value => {
        this.configs = value
      })
    },
    watch: {
      normalUser (newValue, oldValue) {
        this.normalUserModel = Object.assign({}, newValue)
        if (this.normalUserModel == null || this.normalUserModel.NgaySinh == null) {
          return
        }
        this.ngaySinh = new Date(this.normalUserModel.NgaySinh)
      },
      matKhau (newValue, oldValue) {
        if (newValue.trim().length < 6) {
          this.msgErr = "Mật khẩu phải có ít nhất 6 kí tự"
        } else {
          this.msgErr = ''
        }
      },
      normalUserModel: {
        handler: function(value) {
          if (!value.HoTen) {
            this.msgErr = "Vui lòng nhập đầy đủ họ tên"
          } else if (!value.Email) {
            this.msgErr = "Vui lòng nhập thông tin Email"
          } else if (!value.TenTaiKhoan) {
            this.msgErr = "Vui lòng nhập tên tài khoản"
          } else {
            this.msgErr = ''
          }
          if (value.Email && !this.validateEmailFormat()) {
            this.msgErr = 'Định dạng email không chính xác'
          }
        },
        deep: true
      }
    }
  }

</script>
<style>

</style>
