<template>
  <div class="wrapper">
    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/admin/overview">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>Trang chủ</p>
      </sidebar-link>
      <sidebar-link to="/admin/user">
        <i class="nc-icon nc-circle-09"></i>
        <p>Người dùng</p>
      </sidebar-link>
      <sidebar-link to="/admin/memberCard">
        <i class="nc-icon nc-credit-card"></i>
        <p>Thẻ độc giả</p>
      </sidebar-link>
      <sidebar-link to="/admin/books">
        <i class="nc-icon nc-notes"></i>
        <p>Sách</p>
      </sidebar-link>
      <sidebar-link to="/admin/tickets">
        <i class="nc-icon nc-paper-2"></i>
        <p>Phiếu mượn</p>
      </sidebar-link>
      <sidebar-link to="/admin/librarian" v-if="isQuanLy">
        <i class="nc-icon nc-atom"></i>
        <p>Thủ thư</p>
      </sidebar-link>
      <sidebar-link to="/admin/configure">
        <i class="nc-icon nc-preferences-circle-rotate"></i>
        <p>Cài đặt</p>
      </sidebar-link>
    </side-bar>
    <div class="main-panel">
      <top-navbar @userRole="handlerUserRole"></top-navbar>

      <dashboard-content @click="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './MobileMenu.vue'
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu
    },
    data () {
      return {
        isQuanLy: false
      }
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      },
      handlerUserRole(args) {
        if (args) {
          this.isQuanLy = true
        } else {
          this.isQuanLy = false
        }
      }
    }
  }

</script>
