<template>
  <div class="container col-3">
    <div class="row card mt-5" align-h="center">
      <div class="col-md-12 p-3">
        <div>
          <h2>{{title}}</h2>
          <form @submit.prevent="loginClicked">
            <div class="form-group">
              <label for="username">Tên tài khoản</label>
              <input
                type="text"
                v-model="user.username"
                v-validate="'required'"
                name="username"
                class="form-control"
                :class="{ 'is-invalid': submitted && errors.has('username') }"
              >
              <div
                v-if="submitted && errors.has('username')"
                class="invalid-feedback"
              >{{ errors.first('username') }}</div>
            </div>

            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input
                type="password"
                v-model="user.password"
                v-validate="{ required: true, min: 6}"
                name="password"
                class="form-control"
                :class="{ 'is-invalid': submitted && errors.has('password') }"
              >
              <div
                v-if="submitted && errors.has('password')"
                class="invalid-feedback"
              >{{ errors.first('password') }}</div>
            </div>
            <div class="form-group">
              <button class="btn btn-info btn-fill float-right">Đăng nhập</button>
              <button class="btn btn-danger btn-fill float-left" @click.prevent="signup()">Đăng ký</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import axios from "axios";
import alertify from "AlertifyJS";

export default {
  name: "loginform",
  data() {
    return {
      title: "Đăng nhập",
      user: {
        username: "",
        password: ""
      },
      submitted: false
    };
  },
  props: ["formInfo"],
  methods: {
    signup() {
      this.$router.push( {name: 'registerform'} )
    },
    loginClicked(e) {
      console.log(e)
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          //alert("SUCCESS!! :-)\n\n" + JSON.stringify(this.user));
          var self = this;
          axios
            .post(`http://localhost:3000/users/login`, {
              username: self.user.username,
              password: self.user.password
            })
            .then(res => {
              var str = true;
              var data = res.data;
              localStorage.setItem("user", JSON.stringify(data));
              if (res.data["auth"] == str) {
                this.$router.replace(this.$route.query.redirect || "/admin");
              } else {
                //alert("Đăng nhập thất bại");
                alertify.error(`Sai thông tin tài khoản hay mật khẩu. Vui lòng thử lại`)
              }
            })
            .catch(e => {
              alertify.error(`Đăng nhập thất bại`)
              console.log(e);
            });
        }
      });
    },
  //   loginClicked() {
  //     var self = this;
  //     axios
  //       .post(`http://localhost:3000/users/login`, {
  //         username: self.form.username,
  //         password: self.form.password
  //       })
  //       .then(res => {
  //         var str = true;
  //         var data = res.data;
  //         localStorage.setItem("user", JSON.stringify(data));
  //         if (res.data["auth"] == str) {
  //           this.$router.replace(this.$route.query.redirect || "/admin");
  //         } else {
  //           alert("Đăng nhập thất bại");
  //           //alertify.error(`Đăng nhập thất bại`)
  //         }
  //       })
  //       .catch(e => {
  //         console.log(e);
  //       });
  //   }
  // },

  // watch: {
  //   formInfo(newValue, oldValue) {
  //     this.form = Object.assign({}, newValue);
  //   },
  //   form: {
  //     handler: function(val) {
  //       if (!val.username) {
  //         this.msgError = "Vui lòng nhập tên tài khoản";
  //       } else if (!val.password) {
  //         this.msgError = "Vui lòng nhập mật khẩu";
  //       } else {
  //         this.msgError = "";
  //       }
  //     }
  //   },
  //   deep: true
  },
  mounted() {
    //do something after mounting vue instance
    var user = JSON.parse(localStorage.getItem("user"));
    console.log(user != null)
    if (user != null) {
      this.$router.push({ name: "Overview" });
    }
  }
};
</script>
