<template>
  <b-container>
    <b-row align-h="center" class="mt-5">
      <b-col cols="12">
        <b-card class="p-3">
        <h2>{{title}}</h2>
          <!-- <b-form align-h="center" @submit="onSubmit" v-if="show"> -->
          <b-form align-h="center" v-if="show">
            <b-row>
              <b-col cols="12" md="6">
                <b-form-group id="exampleInputGroup1"
                              label="Họ tên:"
                              label-for="exampleInput1"
                              sm="8">
                  <b-form-input id="exampleInput1"
                                type="text"
                                v-model="form.HoTen"
                                required
                                placeholder="Họ tên">
                  </b-form-input>
                </b-form-group>

                <!-- <div class="col-md-12">
                  <FormDatePicker type="text"
                                  label="Ngày sinh"
                                  placeholder="2018/12/12"
                                  v-model="form.NgaySinh">
                  </FormDatePicker>
                </div> -->
                <b-form-group id="exampleInputGroup2"
                              label="Ngày sinh:"
                              label-for="exampleInput2"
                              sm="8">
                  <b-form-input id="exampleInput2"
                                type="date"
                                v-model="form.NgaySinh">
                                required
                                placeholder="Ngày sinh">
                  </b-form-input>
                </b-form-group>
                 <!-- <v-text-field
                  slot="activator"
                  v-model="form.NgaySinh"
                  label="Picker without buttons"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="form.NgaySinh" @input="menu2 = false"></v-date-picker> -->

                <b-form-group>
                    <fg-input type="email"
                              label="Email"
                              placeholder="Email"
                              v-model="form.Email">
                    </fg-input>
                </b-form-group>
              </b-col>
              <b-col cols="12" md="6">
                <b-form-group id="exampleInputGroup3"
                              label="Tên tài khoản:"
                              label-for="exampleInput3">
                  <b-form-input id="exampleInput3"
                                type="text"
                                v-model="form.username"
                                required
                                placeholder="Tên tài khoản">
                  </b-form-input>
                </b-form-group>
                <b-form-group id="exampleInputGroup4"
                              label="Mật khẩu:"
                              label-for="exampleInput4">
                  <b-form-input id="exampleInput4"
                                type="password"
                                v-model="form.password"
                                required
                                placeholder="Mật khẩu">
                  </b-form-input>
                </b-form-group>
                <b-form-group id="exampleInputGroup5"
                              label="Nhập lại mật khẩu:"
                              label-for="exampleInput5">
                  <b-form-input id="exampleInput5"
                                type="password"
                                v-model="form.passwordRetype"
                                required
                                placeholder="Nhập lại mật khẩu">
                  </b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <!-- <b-button type="submit" class="btn btn-info btn-fill float-right" @click="checkRegister()">Đăng ký</b-button> -->
                <b-button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="registerClicked()">Đăng ký</b-button>
                <b-button class="btn btn-fill float-left" @click.prevent="cancelSignup()">Hủy bỏ</b-button>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  // import RegistrationForm from './RegistrationForm.vue'
  import FormDatePicker from 'src/components/UIComponents/Inputs/formDatePicker.vue'
  import moment from 'moment'
  import axios from 'axios'

  export default {
    name: 'registerform',
    data () {
      return {
        title: 'Đăng ký',
        form:{
          HoTen: "",
          NgaySinh: new Date().toISOString().slice(0,10),
          Email: "",
          username: "",
          password: "",
          passwordRetype: "",
          isQuanLy: 0
        },
        //passwordRetype: "",

        //registerModel: Object.assign({}, this.registerInfo),
        show: true
      }
    },
    //props: ['registerInfo'],
    methods: {
      cancelSignup() {
        this.$router.push( {name: 'loginform'} )
      },
      registerClicked(){
        var self = this;
        console.log('click register',
                      self.form.HoTen,
                      self.form.NgaySinh,
                      self.form.Email,
                      self.form.username,
                      self.form.password,
                      self.form.passwordRetype,
                      self.form.isQuanLy);

        //console.log('password:', self.form.password);
        //console.log('passwordretype:', self.form.passwordRetype);

        if(self.form.password == self.form.passwordRetype)
        {
          axios.post(`http://localhost:3000/users?isManager=true`, {
            HoTen: self.form.HoTen,
            NgaySinh: self.form.NgaySinh,
            Email: self.form.Email,
            username: self.form.username,
            password: self.form.password,
            isQuanLy: self.form.isQuanLy,
            //passwordRetype: "",
          })
          .then(res => {
            //self.kq = res.data;
            alert("Đăng ký tài khoản thành công");
            this.$router.replace(this.$route.query.redirect || '/admin')
          })
          .catch(e => {
            console.log(e);
          })
        }
        else{
          alert("Mật khẩu và nhập lại mật khẩu không trùng khớp");
        }
        //console.log('passwordretype:', self.form.passwordRetype);

      },

      // checkRegister () {
      //   this.registerModel.NgaySinh = moment(this.registerModel.NgaySinh).format('YYYY/MM/DD')
      //   this.$store.dispatch('createBook', this.registerModel)
      // },
      // onSubmit (evt) {
      //   evt.preventDefault()
      //   alert(JSON.stringify(this.form))
      //   checkRegister();
      // }
    },
    mounted() {
      //do something after mounting vue instance
      var user = JSON.parse(localStorage.getItem("user"));
      console.log(user != null)
      if (user != null) {
        this.$router.push({ name: "Overview" });
      }
    },
    components: {
      FormDatePicker
    }
  };

</script>
