<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HỆ THỐNG QUẢN LÝ THƯ VIỆN</a>
      <button type="button"
              class="navbar-toggler navbar-toggler-right"
              :class="{toggled: $sidebar.showSidebar}"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Toggle navigation"
              @click="toggleSidebar">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="nav navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              {{username()}}
            </a>
          </li>

          <li class="nav-item">
            <a @click="logoutAction" class="nav-link">
              Đăng xuất
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
  export default {
    computed: {
      routeName () {
        const {name} = this.$route
        return this.capitalizeFirstLetter(name)
      },
      user () {
        var user = JSON.parse(localStorage.getItem('user'))
        this.userModel = user
        if (user == null) return {}
        return user.user
      }
    },
    data () {
      return {
        activeNotifications: false,
        userModel: {}
      }
    },
    methods: {
      capitalizeFirstLetter (string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown () {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown () {
        this.activeNotifications = false
      },
      toggleSidebar () {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar () {
        this.$sidebar.displaySidebar(false)
      },
      logoutAction () {
        localStorage.removeItem('user')
        this.$router.push( {name: 'loginform'} )
      },
      username () {
        return this.user == null ? '' : this.user.username
      },
      isQuanLy() {
        return this.user.isQuanLy
      }
    },
    mounted() {
      //do something after mounting vue instance
      var user = JSON.parse(localStorage.getItem('user'))
      if (user == null) {
        this.$router.push( {name: 'loginform'} )
      }
      this.$emit('userRole', this.isQuanLy())
    }
  }

</script>
<style>

</style>
