<template>
  <card class="card-book">
    <img slot="image" :src="bookModel.HinhAnh" alt="..."/>
    <div class="author">
      <a href="#">
        <h5 class="title">{{bookModel.TenSach}}<br />
          <small>{{bookModel.TacGia}}<br /></small>
          <small class="text-danger">{{bookModel.TheLoai}}</small>
        </h5>
      </a>
    </div>
    <p class="description text-success text-uppercase">Có thể mượn<br></p>
  </card>
</template>

<script>
import Card from 'src/components/UIComponents/Cards/Card.vue'

export default {
  components: {
    Card
  },
  props: ['book'],
  data () {
    return {
      bookModel: Object.assign({}, this.book)
    }
  }

}
</script>

<style lang="css">
</style>
