<template>
  <card>
    <h4 slot="header" class="card-title">{{titleForm()}}</h4>
    <form>
      <div class="row">
        <div class="col-md-12">
          <el-alert
            :closable="false"
            v-if="messageError !== ''"
            :title="messageError"
            type="error"
            show-icon>
          </el-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <fg-input type="text"
                    label="Mã sách"
                    :disabled="true"
                    placeholder="1"
                    v-model="bookModel.ID">
          </fg-input>
        </div>
        <div class="col-md-6">
          <fg-input type="text"
                    label="Tên sách"
                    placeholder="Tên sách"
                    v-model="bookModel.TenSach">
          </fg-input>
        </div>
        <div class="col-md-3">
          <fg-input type="number"
                    label="Số lượng"
                    placeholder="1"
                    min="1"
                    v-model="bookModel.SoLuong">
          </fg-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <fg-input type="text"
                    label="Tên tác giả"
                    placeholder="Tác giả"
                    v-model="bookModel.TacGia">
          </fg-input>
        </div>
        <div class="col-md-5">
          <fg-input type="text"
                    label="Nhà xuất bản"
                    placeholder="Nhà xuất bản"
                    v-model="bookModel.NhaXuatBan">
          </fg-input>
        </div>
        <div class="col-md-2">
          <fg-input type="number"
                    label="Năm xuất bản"
                    placeholder="2010"
                    v-model="namXuatBan">
          </fg-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <FormDatePicker type="text"
                    label="Ngày nhập"
                    placeholder="2018/12/12"
                    v-model="ngayNhapSach">
          </FormDatePicker>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="inputState">Thể loại</label>
            <select id="inputState" class="form-control" v-model="bookModel.MaTheLoai">
              <option v-for="type in this.$store.state.types" :value="type.ID">
                {{ type.TenTheLoai }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <fg-input type="text"
                    label="Hình ảnh"
                    placeholder="Hình ảnh"
                    v-model="bookModel.HinhAnh">
          </fg-input>
        </div>


        <div class="col-md-3">
          <div class="form-group" v-if="this.book.ID != null">
            <label for="inputState">Tình trạng</label>
            <select id="inputState" class="form-control" v-model="bookModel.TinhTrang">
              <option>Chọn tình trạng</option>
              <option value="0">Đã xoá</option>
              <option value="1" selected>Có thể mượn</option>
            </select>
          </div>

          <fg-input type="text"
                    label="Tình trạng"
                    disabled="true"
                    v-if="this.book.ID == null"
                    value="Có thể mượn"
                    placeholder="Có thể mượn">
          </fg-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Mô tả</label>
            <textarea rows="5" class="form-control border-input"
                      placeholder="Mô tả về sách"
                      :v-model="bookModel.MoTa == 'undefined' ? '' : bookModel.MoTa ">
              </textarea>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" :disabled="messageError !== ''" @click.prevent="actionButton">
          {{titleButton()}}
        </button>

        <button type="submit" class="btn btn-danger btn-fill float-right" v-if="book.ID != null" style="margin-right: 10px" @click.prevent="deleteBook">
          Xoá sách
        </button>

      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
import Card from 'src/components/UIComponents/Cards/Card.vue'
import FormDatePicker from 'src/components/UIComponents/Inputs/formDatePicker.vue'
import moment from 'moment'
import alertify from 'AlertifyJS'

export default {
  components: {
    FormDatePicker,
    Card
  },
  data () {
    return {
      file: null,
      bookModel: Object.assign({}, this.book),
      titleAddBook: 'Thêm sách mới',
      titleUpdateBook: 'Chỉnh sửa thông tin sách',
      titleAddBookButton: 'Thêm mới',
      titleUpdateBookButton: 'Cập nhật',
      ngayNhapSach: moment().toDate(),
      namXuatBan: moment().year(),
      configs: [],
      messageError: 'Vui lòng nhập đầy đủ thông tin'
    }
  },
  props: ['book'],
  methods: {
    updateProfile () {
      alert('Your data: ' + JSON.stringify(this.user))
    },
    titleForm () {
      if (this.book.ID == null) {
        return this.titleAddBook
      }
      return this.titleUpdateBook
    },
    titleButton () {
      if (this.book.ID == null) {
        return this.titleAddBookButton
      }
      return this.titleUpdateBookButton
    },
    actionButton () {
      if (this.book.ID == null) {
        return this.createBook()
      }
      return this.updateBook()
    },
    createBook () {
      var self = this
      if (!this.isValidated()) {
        alertify.error(`Chỉ nhận sách trong vòng ${this.getMaxYearAllowed()} năm`)
        return
      }
      this.bookModel.NamXuatBan = this.namXuatBan
      this.bookModel.TinhTrang = 1
      this.bookModel.NgayNhap = moment(this.ngayNhapSach).format('YYYY/MM/DD')
      this.bookModel.MoTa = ''
      this.$store.dispatch('createBook', this.bookModel).then(value => {
        self.updatePages(true)
        alertify.success(`Thêm sách vào hệ thống thành công`)
      }).catch(err => {
        console.log(err)
        alertify.error(`Thêm sách thất bại`)
      })
    },
    updateBook () {
      var self = this
      if (!this.isValidated()) {
        alertify.error(`Chỉ nhận sách trong vòng ${this.getMaxYearAllowed()} năm`)
        return
      }
      this.bookModel.NamXuatBan = this.namXuatBan
      this.bookModel.NgayNhap = moment(this.ngayNhapSach).format('YYYY/MM/DD')
      this.$store.dispatch('updateBook', this.bookModel).then(value => {
        self.updatePages(true)
        alertify.success(`Cập nhật sách thành công`)
      }).catch(err => {
        console.log(err)
        alertify.error(`Cập nhật sách thất bại`)
      })
    },
    deleteBook () {
      var self = this
      this.$store.dispatch('deleteBook', this.bookModel).then(value => {
        self.updatePages(true)
        alertify.success(`Xóa sách thành công`)
      }).catch(err => {
        console.log(err)
        alertify.error(`Xóa sách thất bại`)
      })
    },
    findConfig(nameConfig) {
      var configure = {}
      configure = this.configs.find(function(conf) {
        return conf.TenThuocTinh === nameConfig;
      })
      return configure
    },
    getMaxYearAllowed() {
      var maxYearAllowed = this.findConfig('ThoiHanSach')
      if (maxYearAllowed) {
        return maxYearAllowed.GiaTri
      }
      return 0
    },
    isValidated() {
      var maxYearAllowed = this.getMaxYearAllowed()
      console.log(moment().year() - this.namXuatBan)
      if (Math.abs(moment().year() - this.namXuatBan) <= maxYearAllowed) {
        return true
      }
      return false
    },
    updatePages(value) {
      this.$emit('updatedPage', value)
    }
  },
  mounted() {
    //do something after mounting vue instance
    this.$store.dispatch('getAllConfigs').then(value => {
      this.configs = value
    })
  },
  watch: {
    book (newValue, oldValue) {
      this.bookModel = Object.assign({}, newValue)
      if (this.bookModel == null || this.bookModel.NgayNhap == null) {
        return
      }
      this.ngayNhapSach = new Date(this.bookModel.NgayNhap)
      this.namXuatBan = this.bookModel.NamXuatBan
    },
    bookModel: {
      handler: function(value) {
        if (!value.TenSach) {
          this.messageError = 'Vui lòng nhập đầy đủ tên sách'
        } else if (!value.TacGia) {
          this.messageError = 'Vui lòng nhập đầy đủ tên tác giả'
        } else if (!value.NhaXuatBan) {
          this.messageError = 'Vui lòng nhập đầy đủ nhà xuất bản'
        } else if (!value.MaTheLoai) {
          this.messageError = 'Vui lòng chọn thể loại sách'
        } else if (!value.HinhAnh) {
          this.messageError = 'Vui lòng nhập đầy đủ thông tin hình ảnh'
        } else {
          this.messageError = ''
        }
      },
      deep: true
    }
  }
}
</script>
<style>
</style>
