<template>
  <table class="table">
    <thead>
      <slot name="columns">
        <th v-for="name in names">{{name}}</th>
      </slot>
    </thead>
    <tbody>
    <tr v-for="item in data" @click="clickedItem(item)">
      <slot :row="item">
        <td v-for="column in columns" v-if="hasValue(item, column)">{{itemValue(item, column)}}</td>
        <td style="text-align: center">
          <button type="button" class="btn btn-info">
            <i class="fa fa-pencil"></i>
          </button>

        </td>

      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
  import moment from 'moment'

  export default {
    name: 'l-table',
    props: {
      columns: Array,
      data: Array,
      names: Array,
      type: String
    },
    methods: {
      hasValue (item, column) {
        return item[column.toLowerCase()] !== 'undefined'
      },
      itemValue (item, column) {
        if (column.includes('Ngay') || column.includes('HanSuDung')) {
          return moment(item[column]).format('DD/MM/YYYY')
        }
        if (column.includes('TinhTrang') && this.type === 'ticket') {
          return item[column] == 1 ? 'Đang sử dụng' : 'Không sử dụng'
        }
        if (column.includes('TinhTrang') && this.type === 'config') {
          return item[column] == 1 ? 'Đang sử dụng' : 'Không sử dụng'
        }
        if (column.includes('CapBac') && this.type === 'admin') {
          return item[column] == 1 ? 'Quản lý' : 'Thủ thư'
        }
        return item[column]
      },
      clickedItem (item) {
        if (this.type === 'book') {
          this.$store.dispatch('getBookDetails', item)
        }
        if (this.type === 'normalUser') {
          this.$store.dispatch('getNormalUserDetails', item)
        }
        if (this.type === 'admin') {
          this.$store.dispatch('getAdminDetails', item)
        }
        if (this.type === 'memberCard') {
          this.$store.dispatch('getMemberCardDetails', item)
        }
        if (this.type === 'ticket') {
          this.$store.dispatch('getTicketDetails', item)
          var payload = { 'ID': item.ID }
          this.$store.dispatch('getBooksOfTicket', payload)
        }
        if (this.type === 'config') {
          this.$store.dispatch('getConfigDetails', item)
        }
      }
    }
  }
</script>
<style>
</style>
