<template>
  <card>
    <h4 slot="header" class="card-title">{{titleForm()}}</h4>
    <form>
      <div class="row">
        <div class="col-md-12">
          <el-alert
            :closable="false"
            v-if="messageError !== ''"
            :title="messageError"
            type="error"
            show-icon>
          </el-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <fg-input type="text"
                    label="Mã thẻ"
                    :disabled="true"
                    placeholder="1"
                    v-model="memberCardModel.ID">
          </fg-input>
        </div>
        <div class="col-md-3">
          <FormDatePicker type="text" @click="calculateExpiredDate"
                    label="Ngày lập thẻ"
                    placeholder="2018/12/12"
                    v-model="ngayLapThe">
          </FormDatePicker>

        </div>
        <div class="col-md-3">
          <FormDatePicker type="text"
                    label="Thời hạn sử dụng"
                    placeholder="2018/12/12"
                    :disabled="true"
                    v-model="thoiHanSuDung">
          </FormDatePicker>

        </div>

        <div class="col-md-3">
          <fg-input type="number"
                    label="Điểm tích luỹ"
                    placeholder="0"
                    min="0"
                    v-model="memberCardModel.DiemTichLuy">
          </fg-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">

          <fg-input type="number"
                    label="Mã độc giả"
                    :disabled="isCreateMemberCard()"
                    placeholder="Mã độc giả" v-if="isCreateMemberCard()"
                    v-model="memberCardModel.MaDocGia">
          </fg-input>
          <div class="form-group" v-if="!isCreateMemberCard()">
            <label for="inputState2">Mã độc giả</label>
            <b-form-select class="mb-3" v-model="selectedUserId" id="inputState2">
              <option :value="null">Mã người dùng</option>
              <option v-for="id in this.normalUserIDs" :value="id">{{ id.ID }}</option>
            </b-form-select>
          </div>
        </div>

        <div class="col-md-3">
          <fg-input type="text"
                    label="Tên độc giả"
                    :disabled="true"
                    placeholder="Tên độc giả"
                    v-model="memberCardModel.TenDocGia">
          </fg-input>
        </div>
        <div class="col-md-3">
          <fg-input type="text"
                    label="Loại thẻ"
                    :disabled="true"
                    placeholder="Loại thẻ"
                    :value="(memberCardModel.MaTheTheLoai == null || memberCardModel.MaTheTheLoai == 2) ? 'Thẻ loại thường' : 'Thẻ loại vàng'">
          </fg-input>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="inputState">Tình trạng</label>
            <select id="inputState" class="form-control" v-model="memberCardModel.TinhTrang">
              <option value="1" selected>Hoạt động</option>
              <option value="0">Không hoạt động</option>
            </select>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" :disabled="messageError !== ''" @click.prevent="actionButton">
          {{titleButton()}}
        </button>

        <button type="submit" class="btn btn-danger btn-fill float-right" style="margin-right: 10px" v-if="memberCard.ID" @click.prevent="deleteMBCard">
          Xoá thẻ
        </button>

      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import FormDatePicker from 'src/components/UIComponents/Inputs/formDatePicker.vue'
  import Dropdown from 'src/components/UIComponents/Dropdown.vue'
  import moment from 'moment'
  import alertify from 'AlertifyJS'

  export default {
    components: {
      FormDatePicker,
      Dropdown,
      Card
    },
    data () {
      return {
        selectedUserId: null,
        normalUserIDs: [],
        memberCardModel: Object.assign({}, this.memberCard),
        titleAddMBCard: 'Tạo thẻ đọc giả',
        titleUpdateMBCard: 'Cập nhật thông tin thẻ độc giả',
        titleAddMBCardButton: 'Thêm mới',
        titleUpdateMBCardButton: 'Cập nhật',
        ngayLapThe: moment(this.memberCard.NgayLapThe).toDate(),
        thoiHanSuDung: moment(this.memberCard.ThoiHanSuDung).toDate(),
        configs: [],
        messageError: 'Vui lòng nhập đầy đủ thông tin'
      }
    },
    props: ['memberCard'],
    methods: {
      updateProfile () {
        alert('Your data: ' + JSON.stringify(this.user))
      },
      titleForm () {
        if (this.memberCard.ID == null) {
          return this.titleAddMBCard
        }
        return this.titleUpdateMBCard
      },
      titleButton () {
        if (this.memberCard.ID == null) {
          return this.titleAddMBCardButton
        }
        return this.titleUpdateMBCardButton
      },
      actionButton () {
        if (this.memberCard.ID == null) {
          return this.createMBCard()
        }
        return this.updateMBCard()
      },
      createMBCard () {
        this.memberCardModel.MaTheTheLoai = 2
        this.memberCardModel.NgayLapThe = moment(this.ngayLapThe).format('YYYY/MM/DD')
        this.memberCardModel.ThoiHanSuDung = moment(this.thoiHanSuDung).format('YYYY/MM/DD')
        this.memberCardModel.DiemTichLuy = this.memberCardModel.DiemTichLuy || 0

        this.dispatchItem('createMemberCard', this.memberCardModel, 'Tạo thẻ độc giả thành công', 'Tạo thẻ độc giả thất bại')
      },
      updateMBCard () {
        this.memberCardModel.NgayLapThe = moment(this.ngayLapThe).format('YYYY/MM/DD')
        this.memberCardModel.ThoiHanSuDung = moment(this.thoiHanSuDung).format('YYYY/MM/DD')
        this.memberCardModel.DiemTichLuy = this.memberCardModel.DiemTichLuy || 0

        this.dispatchItem('updateMemberCard', this.memberCardModel, 'Cập nhật thông tin thành công', 'Cập nhật thông tin thất bại')
      },
      deleteMBCard () {
        // this.$store.dispatch('deleteMemberCard', this.memberCardModel)
        this.dispatchItem('deleteMemberCard', this.memberCardModel, 'Xoá thẻ độc giả thành công', 'Xoá thẻ độc giả thất bại')
      },
      isCreateMemberCard () {
        return this.memberCard.ID != null
      },
      dispatchItem (name, model, messageOk, messageError) {
        var self = this
        this.$store.dispatch(name, model).then(value => {
          alertify.success(messageOk)
          self.$emit('updatePage', value)
        }).catch(err => {
          console.log(err)
          alertify.error(messageError)
        })
      },
      calculateExpiredDate () {
        var expiredTime = getExpiredTime()
        this.thoiHanSuDung = moment(this.ngayLapThe, "YYYY/MM/DD").add(expiredTime, 'months')
      },
      findConfig(nameConfig) {
        var configure = {}
        configure = this.configs.find(function(conf) {
          return conf.TenThuocTinh === nameConfig;
        })
        return configure
      },
      getExpiredTime() {
        var maxBookConfig = this.findConfig('ThoiHanSuDungThe')
        if (maxBookConfig) {
          return maxBookConfig.GiaTri
        }
        return 0
      }
    },
    mounted() {
      //do something after mounting vue instance
      this.$store.dispatch('getAllConfigs').then(value => {
        this.configs = value
      })
      this.$store.dispatch('getAllNormalUserIDs').then(value => {
        this.normalUserIDs = value
      }).catch(err => {
        console.log(err)
        alertify.error('Không lấy được danh sách mã độc giả')
      })
    },
    watch: {
      memberCard (newValue, oldValue) {
        this.memberCardModel = Object.assign({}, newValue)
        if (this.memberCardModel == null || this.memberCardModel.NgayLapThe == null) return
        this.ngayLapThe = new Date(this.memberCardModel.NgayLapThe)
      },
      ngayLapThe (newValue, oldValue) {
        var currentDate = new Date()
        var newCreatedCardDate = moment(this.ngayLapThe, "YYY/MM/DD")
        if (newCreatedCardDate.isAfter(currentDate)) {
          alertify.error('Ngày lập thẻ không thể lớn hơn ngày hiện tại')
          this.ngayLapThe = currentDate
          return
        }
        this.thoiHanSuDung = moment(this.ngayLapThe, "YYYY/MM/DD").add(this.getExpiredTime(), 'months').toDate()
        this.memberCardModel.NgayLapThe = moment(this.ngayLapThe).format('YYYY/MM/DD')
        this.memberCardModel.ThoiHanSuDung = moment(this.thoiHanSuDung).format('YYYY/MM/DD')
        this.messageError = ''
      },
      selectedUserId (newValue, oldValue) {
        console.log(newValue)
        if (newValue != null) {
          this.memberCardModel.MaDocGia = newValue.ID
        } else {
          this.memberCardModel.MaDocGia = null
          this.messageError = "Vui lòng nhập mã độc giả"
        }
      },
      memberCardModel: {
        handler: function(value) {
          console.log(value)
          if (!value.MaDocGia || value.MaDocGia == null) {
            this.messageError = "Vui lòng nhập mã độc giả"
          } else if (value.NgayLapThe == null) {
            this.messageError = "Vui lòng chọn ngày lập thẻ"
          } else {
            this.messageError = ''
          }
        },
        deep: true
      }
    }
  }

</script>
<style>

</style>
